.about-section {
  background-color: #f8f8f8;
  padding: 80px 0;
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;

  .toggle-container {
    text-align: center;
    margin-bottom: 20px;

    .switch {
      display: inline-block;
      position: relative;
      width: 48px;
      height: 24px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
      border-radius: 24px;
    }

    .slider.round {
      border-radius: 24px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #0070c9;
    }

    input:checked + .slider:before {
      transform: translateX(24px);
    }

    .toggle-label {
      margin-left: 6px;
      font-size: 14px;
      color: #333;
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333333;
  }

  h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #0070c9;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #555555;
    line-height: 1.6;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.1rem;
    color: #555555;
    
    li {
      margin-bottom: 10px;

      strong {
        color: #333333;
      }
    }
  }

  &.dark-mode {
    background-color: #1b1b1b;
    color: #ffffff;

    .container {
      background-color: #212121;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    h1, h2 {
      color: #ffffff;
    }

    p, ul {
      color: #bbbbbb;

      strong {
        color: #ffffff;
      }
    }

    .toggle-container {
      .toggle-label {
        color: #f0f0f0;
      }

      .switch .slider {
        background-color: #666;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p, ul {
      font-size: 1rem;
    }
  }
}
